<div class="login-form">
    <form (submit)="onLoginClick()">
        <div class="username">
            <label> Username : </label><br>

            <app-textbox (blur)="usernameField.isValid()"
            [nameOfBox]="usernameField"  ></app-textbox> <br>
            <span class="span_class" *ngIf="!usernameField.isFieldValid">{{usernameField.validationMsg}} </span>
        </div> 
        
        <div class="password">
            <label> Password : </label><br>
            <app-textbox  (blur)="passwordField.isValid()" 
             [ngClass]="{ 'text-danger': !passwordField.isFieldValid }"
             [nameOfBox]="passwordField"></app-textbox> <br>

            <span class="span_class" *ngIf="!passwordField.isFieldValid">{{passwordField.validationMsg}}</span>
        </div> 
        <div class="forgot_password">
            <a>Forgot Password ?</a>
        </div>  
        <div class = "loginBtn">  
            <app-button [typeOfBtn]="'submit'" >Login</app-button>
        </div> 
    </form>
</div>








<!-- 
    (blur)="isFieldUserNameValid()"
    [(ngModel)]="userName" 
[nameOfBox]="'userName'"
[(ngModel)]="password" [nameOfBox]="'password'"   -->